.classement {
  width: 1200px;
}
.classement .table {
  width: 100%;
}
.classement .table thead {
  background-color: lightgray;
}
.classement .table thead tr th {
  align-items: center;
}/*# sourceMappingURL=style.css.map */